<%= form_for(@url, :url => url_create_path) do |f| %>

<p>
  <%= f.label :short_url %><br>
  <%= f.text_field :short_url %>
</p>

<p>
  <%= f.submit %>
</p>

<% end %>

<% @urls.each do |url| %>
  <% if Rails.env.production? %>
  <p><a
    href="https://immense-garden-11684.herokuapp.com/show/<%=url.id%>">https://immense-garden-11684.herokuapp.com/show/<%=url.id%>
  </a></p>
  <% else %>
  <p><a
    href="http://localhost:3000/show/<%=url.id%>">http://localhost:3000/show/<%=url.id%>
  </a></p>
  <% end %>
<% end %>
